
*.jar
*.bin
Spring/wrapper/dists/gradle-8.11.1-bin/bpt9gzteqjrbo1mjrsomdt32c/gradle-8.11.1/README
/Spring/caches
/Spring/wrapper
/Spring/native
/Spring/daemon
/Spring/.tmp
Python/.idea/workspace.xml
