.message-area {
  background: #ebebeb;
  height: 200px;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
}

.message-area ul {
  margine: 0;
  padding: 0;
  list-tyle: none;
}

.message-area li:before {
  content: "\003e";
  margin-right: 10px;
}
